@font-face {
	font-family: InterVariable;
	src: url(/InterVariable.ttf);
}

:root,
* {
	font-family: 'Inter Variable';
	font-feature-settings:
		'liga' 1,
		'calt' 1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
