#overlay-container #overlay-content {
	.reveal-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 9999;
		transition: opacity 500ms linear;

		&.hidden {
			opacity: 0;
		}
	}

	#randomization {
		position: absolute;
		top: 332px;
		left: 1030px;
		width: 112px;
		height: 32px;
		display: flex;
		gap: 8px;

		img {
			width: 32px;
			height: 32px;
		}
	}

	.score-details-group {
		position: absolute;
		width: 48px;
		display: flex;
		flex-direction: column;
		gap: 8px;

		.score-detail {
			width: 48px;
			height: 48px;

			h2 {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 48px;
				height: 48px;
				font-size: 24px;
				font-weight: 700;
				text-align: center;
				color: #fff;
			}
		}
	}

	#blue-auto-score-details {
		top: 436px;
		left: 816px;
	}

	#red-auto-score-details {
		top: 436px;
		left: 1056px;
	}

	#blue-teleop-score-details {
		top: 608px;
		left: 816px;
	}

	#red-teleop-score-details {
		top: 608px;
		left: 1056px;
	}

	.special-score-details-group {
		position: absolute;
		width: 456px;
		height: 104px;
		display: flex;
		flex-direction: column;
		gap: 8px;

		.motifs {
			.motifs-artifacts {
				position: absolute;
				top: 8px;
				left: 52px;
				width: 352px;
				height: 32px;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 8px;
				width: 32px;
				height: 32px;
			}

			.motifs-count {
				position: absolute;
				top: 0;
				width: 48px;
				height: 48px;
				display: flex;
				align-items: center;

				h2 {
					width: 48px;
					font-size: 24px;
					font-weight: 700;
					text-align: center;
					color: #fff;
				}
			}
		}

		.locations-group {
			position: absolute;
			top: 56px;
			width: 48px;
			height: 48px;
			display: flex;
			gap: 8px;

			.location {
				width: 224px;
				height: 48px;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 16px;

				img {
					margin: 8px;
					width: 32px;
					height: 32px;
				}

				.location-team-number {
					width: 128px;
					height: 48px;
					display: flex;
					align-items: center;

					h2 {
						width: 100%;
						font-size: 22px;
						font-weight: 500;
						text-align: center;
						color: #fff;
					}
				}
			}
		}
	}

	#blue-auto-special-score-details,
	#blue-teleop-special-score-details {
		.motifs .motifs-count {
			left: 408px;
		}

		.locations-group .location .location-team-number {
			margin-left: 54px;
		}
	}

	#blue-auto-special-score-details {
		top: 436px;
		left: 304px;
	}

	#blue-teleop-special-score-details {
		top: 636px;
		left: 304px;
	}

	#red-auto-special-score-details,
	#red-teleop-special-score-details {
		.motifs .motifs-count {
			left: 0;
		}

		.locations-group .location .location-team-number {
			margin-right: 54px;
		}
	}

	#red-auto-special-score-details {
		top: 436px;
		left: 1160px;
	}

	#red-teleop-special-score-details {
		top: 636px;
		left: 1160px;
	}

	#fouls-group {
		position: absolute;
		top: 792px;
		left: 768px;
		width: 384px;
		height: 32px;
		display: flex;
		gap: 192px;

		.foul {
			width: 96px;
			height: 32px;

			h2 {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 96px;
				height: 32px;
				font-size: 20px;
				font-weight: 700;
				text-align: center;
				color: #fff;
			}
		}
	}
}
